*{
    margin: 0;
    padding: 0;
}
nav {
    background-color: red;
    color: white;
    height: 40px;
    font-size: 25px;
    display: flex;
    align-items: center;
    padding: 10px;
    font-style: italic;

    

}

nav ul{
    list-style-type: none;

    
}
.gc{
    
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
}
.line{
    width: 0vw;
    height: 4px;
    transition: width 1s ease-in-out;
    background-color: red;
    position: absolute;
    
    
}
.container{
    font-style: arial, sans-serif;
    display: grid;
    grid-template-columns: repeat(3,15vw);
    grid-template-rows: repeat(3,15vw);
}

.box{
    border: 2px solid black;
    font-size: 6vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.box:hover{
    background-color: beige;
}

.gi{
    padding: 50px;
    font-size: 12px
    
}


.br{
    border-right: 0;

}
.bl{
    border-left:0;

}

.bt{
    border-top: 0;

}
.bb{
    border-bottom: 0;
}

#reset{
    margin: 15px;
    padding: 6px 20px;
    border-radius: 6px;
    background-color: rgb(243, 243, 6);
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-size: 20px;
}
.info{
    font-size: 20px;
}

@media screen and (max-width:800px){
    .gc{
        flex-wrap: wrap;
    }
    .gi{
        margin-top: 1px;
    }
    .gi h1{
        font-size: 1.2rem;
    }
    .container{
        grid-template-rows: repeat(3,17vw);
        grid-template-columns: repeat(3,17vw);

    }
}